@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1450px) {
  .container {
    width: 1250px;
    margin: 0 auto;
  }
}
.lang {
  box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}
.card1 {
  box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}
.btn1 {
  background: #fead04;
  padding: 14px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  transition: 0.8s;
}
.btn1:hover {
  transform: scale(0.8);
}
.position_serv {
  box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.03);
  background: #fff;
  padding: 10px;
}
